html{
    scroll-behavior: smooth;
}
.collab-card{
    text-align: center;
}
.collab-con{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collab-image{
    width: 150px;
    height: 150px;
}
.portLink{
    font-size: 17px;
    color: #1CB68B!important;
}
